[submodule "src/hooks"]
	path = src/hooks
	url = https://github.com/nestarz/react-hooks-collection.git
[submodule "src/data/personal-data"]
	path = src/data/personal-data
	url = https://${PRIVATE_REPO_ACCESS_TOKEN}:x-oauth-basic@github.com/nestarz/personal-data
